#!/usr/bin/env bash


# 安装基本依赖
sudo apt-get install -y vim curl tmux zsh git wget ssh make cmake nali tree ctags
sudo apt-get install -y python-pip python3-pip build-essential python-dev
sudo apt-get install -y git-core openssl libssl-dev  
sudo apt-get install -y silversearcher-ag


# 安装 Python 相关环境
sudo pip install pylint
sudo pip install pyflakes
sudo pip install pep8


# 终端 solarized 配色
# https://github.com/Anthony25/gnome-terminal-colors-solarized


# 安装 zsh
wget https://github.com/robbyrussell/oh-my-zsh/raw/master/tools/install.sh -O - | sh
# wget --no-check-certificate https://github.com/robbyrussell/oh-my-zsh/raw/master/tools/install.sh -O - | sh
chsh -s /bin/zsh
# sudo vim ~/.oh-my-zsh/themes
# PROMPT='%{$fg_bold[red]%}➜ %{$fg_bold[green]%}%p %{$fg[cyan]%}%c %{$fg_bold[blue]%}$(git_prompt_info)%{$fg_bold[blue]%} % %{$reset_color%}'
# PROMPT='%{$fg_bold[red]%}➜ %{$fg_bold[green]%}%p %{$fg[cyan]%}%d %{$fg_bold[blue]%}$(git_prompt_info)%{$fg_bold[blue]%} % %{$reset_color%}>'


# 安装 vim
sudo git clone https://github.com/wklken/k-vim.git
cd k-vim/
sh -x install.sh
# k-vim 9.1 版本替换了原有的 vundlevim 成 junegunn 速度更快
# 如果 YCM 出错就要使用源码安装
# cd ~/.vim/bundle/YouCompleteMe
# ./install.sh --clang-completer


# 试验性交换大写和 Ctrl
# sudo vi /etc/default/keyboard
# echo 'XKBOPTIONS="ctrl:nocaps"' | sudo tee -a /etc/default/keyboard
# sudo dpkg-reconfigure keyboard-configuration


# 克隆 Node.js 的项目
sudo git clone https://github.com/joyent/node.git
cd node 
git checkout v0.12.0  # 检出你想要的版本 
# 否则使用 git tag 来列出 Node.js 的全部标签
./configure  # 完成编译安装
make 
make install 

# 下载 npm 的安装脚本
sudo wget https://npmjs.org/install.sh --no-check-certificate  
chmod 777 install.sh 
./install.sh 


# restart
sudo reboot -h 0
